*.rbc
*.sassc
.sass-cache
capybara-*.html
*.log
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/db/schema.rb
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
*.war
/config/*.yml
/public/mmp
.project
.settings/*
.redcar
/public/version.html
*~
/sunsport_solr/*
.vagrant
*.swp
/solr/*
/public/assets
