<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<%= form_for Produto.new do |f| %>

    <form action="/produto" method="post">
        Nome 
        <input type="text" name="nome"><br/>
        Descricao
        <textarea name="nome"></textarea><br/>
        Quantidade
        <input type="number" name="quantidade"><br/>
        Preco
        <input type="number" name="preco" step="0.01"><br/>

        <button type="submit">Criar</button>


        t.string   "nome"
        t.text     "descricao"
        t.integer  "quantidade"
        t.decimal  "preco"

    <%end%>
    
</body>
</html>